# this should be in a global gitignore, but let's make life easier for others
.DS_Store

# see http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside
*.xccheckout
